.site-foot {
  border-top: var(--space-xs) solid var(--color-primary);
  padding: var(--space-s-m);
  background: var(--color-dark);
  color: var(--color-light);
  /* min-height: 25vh; */
}
/* 
@media (min-width: 1024px) {
  .site-foot {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.site-foot__inner {
  display: flex;
  gap: var(--space-xs-s);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.site-foot svg {
  height: 1em;
  width: 1em;
}

.site-foot > div {
  margin-bottom: var(--space-xl);
} */
