.mr-news .clickable-card {
  color: var(--color-dark);
  background-color: var(--color-primary);
}

.mr-news .clickable-card time {
  color: var(--color-light);
  background-color: var(--color-dark);
  padding: 0.25rem var(--space-xs);
}
