---
layout: base
---

<header class="section spot-color-primary mr-hero">
  <div class="section__inner ">
    {# <div class="wrapper"> #}
    {% imagePlaceholder "./src/assets/images/splash-3.jpg", "Mens rugby", "mr-hero-img" %}
    {#<img src="assets/images/chino-rocha-SDmXMe4bf-0-unsplash.jpg" alt="Rugby players">#}
    <h1 class="text-center wrapper">{{ title }}</h1>
    <p class="wrapper ">
      <span>A community run club for all ages.</spa>
    </p>
    {# </div> #}
  </div>
  {# {% include 'svg/divider-waves.svg' %}  #}
</header>

<article class="region mr-news" style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose">
    <h3>Welcome to Mid Argyll Rugby Football Club.</h3>
    <p>Mid Argyll Rugby Club was formed in 1978 by a group of local enthusiasts. James McLellan, Colin Stewart, Jock Gray, Davie Anderson &amp; Ian Thomson being the original committee members.</p>
    <p>We are a community-based club offering rugby playing and training opportunities to anyone from Primary 1 to Adult ages, for Boys &amp; Girls and Men &amp; Women.</p>
    <p>Primary &amp; high school training is held on the grass pitch at Lochgilphead Joint Campus every Tuesday during term time from 4pm&nbsp;&ndash;&nbsp;5pm.</p>
    <div class="mr-grid-2">
      {% imagePlaceholder "./src/assets/images/girls-02.jpg", "Girls rugby", "mb-1 mr-outline", "lazy" %}
      <p>Ladies&rsquo; fitness &amp; training sessions are held every Monday evening from 6:30pm&nbsp;&ndash;&nbsp;7:30pm contact our Women &amp; Girls Community Coach, Drew Buckley, for venue details.</p>
    </div>

    <div class="mr-grid-2">
      <p>Men&rsquo;s training is held on Tuesday evenings from 7pm&nbsp;&ndash;&nbsp;8:30pm, contact our club secretary, Lee Buckley, or Club captain, Stuart Charnock, for venue details.</p>
      {% imagePlaceholder "./src/assets/images/men-02.jpg", "Mens rugby", " mt-1 mr-outline", "lazy" %}
    </div>
    
    <p>The club also has a <a href="https://www.facebook.com/midargyllrfc/" target="_blank">Face Book page</a> and <a href="https://twitter.com/MidArgyllRFC" target="_blank">twitter page</a> which are updated with all the latest training details and playing fixtures.</p>
    <p>Everyone is welcome from novice to the most experienced.</p>
  </div>
</article>

{# <article class="region mr-news" style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose">
    <h2>Latest News</h2>
  </div>

  {% set countLimit = 4 %}
  {% include "partials/news-list.njk" %}
  <p class="wrapper text-center ">
    <a class="link-highlight" href="/news">Read all news</a>
  </p>
</article> #}

{# <article class="region mr-highlight-bg ">
  <h2>Sponsors</h2>
  <div class="mr-sponsors">
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
    <a href="#"><img src="https://via.placeholder.com/160x80/333333/ffffff?text=Example+sponsor" alt="Sponsor"></a>
  </div>
</article> #}

<article class="region mr-highlight-bg " id="gallery">
  <h2>Gallery</h2>
  <div class="mr-gallery">
    <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
      <li>
        {% imagePlaceholder "./src/assets/images/gallery/Huddle.jpg", "Looking up into the faces of women in a rugby huddle", "", "lazy" %}
      </li>
      <li>
        {% imagePlaceholder "./src/assets/images/gallery/20220827_132700.jpg", "xxxxx", "", "lazy" %}
      </li>
      <li>
        {% imagePlaceholder "./src/assets/images/gallery/DSC_0042.jpeg", "xxxxx", "", "lazy" %}
      </li>
      <li>
        {% imagePlaceholder "./src/assets/images/gallery/Islay-53-7.jpg", "xxxxx", "", "lazy" %}
      </li>
      <li>
        {% imagePlaceholder "./src/assets/images/gallery/Rugby-Dalriada-Winners-2023.jpg", "xxxxx", "", "lazy" %}
      </li>
      
      <li>
        {% imagePlaceholder "./src/assets/images/gallery/Ladies-Team.jpeg", "xxxxx", "", "lazy" %}
      </li>
      <li>
        {% imagePlaceholder "./src/assets/images/gallery/MA-U18-V-Ayr.jpg", "xxxxx", "", "lazy" %}
      </li>
      <li>
        {% imagePlaceholder "./src/assets/images/gallery/Lochgilphead-High.jpg", "xxxxx", "", "lazy" %}
      </li>
    </ul>
  </div>
</article>


<article class="region" id="documents">

      <h2>Documents</h2>

      <ul class="mt-l-xl mr-documents">
        
        <li>
          <a download href="./assets/docs/MARFC-parent-letter-2023-24.pdf">
            <span class="mr-documents-download">{% include '../assets/images/icons/icon-download.svg' %}</span>
            <p>Letter to parents 2023-2024 {% include '../assets/images/icons/icon-pdf.svg' %}</p>
          </a>
        </li>

        <li>
          <a download href="./assets/docs/Membership-form-23-24.pdf">
            <span class="mr-documents-download">{% include '../assets/images/icons/icon-download.svg' %}</span>
            <p>Membership form 2023-2024 {% include '../assets/images/icons/icon-pdf.svg' %}</p>
          </a>
        </li>

        <li>
          <a download href="./assets/docs/Mid-Argyll-Rugby-Club-Consent-Form-2023.pdf">
            <span class="mr-documents-download">{% include '../assets/images/icons/icon-download.svg' %}</span>
            <p>Consent form 2023-2024 {% include '../assets/images/icons/icon-pdf.svg' %}</p>
          </a>
        </li>
        
        <li>
          <a download href="./assets/docs/MARFC-Code-of-Conduct.pdf">
            <span class="mr-documents-download">{% include '../assets/images/icons/icon-download.svg' %}</span>
            <p>Code of conduct {% include '../assets/images/icons/icon-pdf.svg' %}</p>
          </a>
        </li>

        <li>
          <a download href="./assets/docs/Constitution-April-2022.pdf">
            <span class="mr-documents-download">{% include '../assets/images/icons/icon-download.svg' %}</span>
            <p>Constitution {% include '../assets/images/icons/icon-pdf.svg' %}</p>
          </a>
        </li>
      </ul>

</article>

<article class="region  mr-highlight-bg" id="contact">
      <h2>Contact</h2>
      <ul class="mt-l-xl mr-list-contacts" role="list" >
        <li>
          <p><strong>Lee Buckley</strong></p>
          <p>Club Secretary</p>
          <p>tel: <a href="tel:07483979290">07483979290</a></p>
        </li>

          <li>
          <p><strong>James Hill</strong></p>
          <p>Club Chairman</p>
          <p>tel: <a href="tel:07881975835">07881975835</a></p>
        </li>

          <li>
          <p><strong>Stuart Charnock</strong></p>
          <p>Child Protection Officer</p>
          <p>tel: <a href="tel:07867314851">07867314851</a></p>
        </li>
      </ul>

</article>