---
layout: base
---

<header class="section spot-color-primary mr-hero">
  <div class="section__inner ">
    {% imagePlaceholder "./src/assets/images/chino-rocha-SDmXMe4bf-0-unsplash.jpg", "Alt... The preview image for social media", "" %}
    <h1 class="text-center wrapper">{{ title }}</h1>
  </div>
</header>

<article class="wrapper region " style="--region-space-top: var(--space-s)">

  {% include "partials/news-list.njk" %}

</article>