---
layout: base
pagination:
    data: news
    size: 1
    alias: newsItem
permalink: "/news/{{ newsItem.date | formatDate('DD-MM-YYYY') }}/{{ newsItem.title.rendered | slug }}/"
---

<header class="section spot-color-primary mr-hero">
  <div class="section__inner ">
    {% imagePlaceholder "./src/assets/images/chino-rocha-SDmXMe4bf-0-unsplash.jpg", "Alt... The preview image for social media", "" %}
    <h1 class="text-center wrapper">{{ newsItem.title.rendered }}</h1>
  </div>
</header>

<article class="wrapper region " style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose">
    {{ newsItem.content.rendered | safe }}
  </div>
</article>