<footer class="site-foot" role="contentinfo">

  <div>
    <h3>Contact</h3>
    <address class="mr-address">
      Club contact name<br/>
      Address Line 1<br/>
      Address Line 2<br/>
      Address Line 3<br/>
      <a href="mailto:webmaster@somedomain.com">Contact webmaster</a>
    </address>
    <p class="mr-copy">&copy; 2023</p>
  </div>

  <div>
    <h3 id="mrDocuments">Documents</h3>
    <ul>
      <li>
        <a href="#">Club application form</a>
      </li>
      <li>
        <a href="#">Risk assessment form</a>
      </li>
      <li>
        <a href="#">Tournament form</a>
      </li>
      <li>
        <a href="#">Misc form</a>
      </li>

    </ul>
  </div>

  {# <nav id="footernav" class="site-foot__inner">
        {% set activePage = page.url | url %}
        &copy; {% year %} <a href="/" {% if activePage === '/' %} aria-current="page" {% endif %}>{{ meta.siteName }}</a>

        {% for item in navigation.bottom %}

        <a
          href="{{ item.url }}"
          {{
          helpers.getLinkActiveState(item.url,
          page.url)
          |
          safe
          }}
          >{{ item.text }}</a
        >

        {% endfor %} 
    </nav>#}

  {# <div id="social" class="site-foot__inner">
      {% for item in social %}
        <a href="{{ item.url }}">
          <span class="sr-only">{{ item.platform }}</span>
          <div aria-hidden="true">{% include 'icons/social-' + item.icon %}</div>
        </a
        >

      {% endfor %}
    </div> #}

  <!-- lang menu -->
</footer>