<ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
  {% if not countLimit %}
    {% set countLimit = 10000000000 %}
  {% endif %}
  {% for newsItem in news %}
    {% if loop.index0 < countLimit %}
      <li class="card flow clickable-card overflow-hidden">
        <h3>
          <a href="#">{{ newsItem.title.rendered | safe }}</a>
        </h3>
        {% set definedDate = newsItem.date_gmt %}
        {% include "partials/date.njk" %}
        <p>{{ newsItem.content.rendered | excerpt  }}</p>

      </li>
    {% endif %}
  {% endfor %}
</ul>